  body {
    height: fit-content;
    background-image: url(background.jpg); 
  }

  .scrollbar-pink {
    scrollbar-color: #ec407a #F5F5F5;
  }

  .modal-mask {
    overflow-y: auto;
    position:fixed;
    display:block;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:100;
  }

  
  .modal-content {
    height: auto;
    overflow-y: auto;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .modal-wrapper {
    /* display: table-cell; */
    vertical-align: middle;
  }

  .hr {
    height: 100px;
    /* Set the hr color */
    color: #fff; /* old IE */
    background-color: #fff; /* Modern Browsers */
  }
  
  .pagination {
    display: inline-block;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .card {
  margin: 0px, 0px, 16px;
  padding: 1rem!important;
  }

  td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    text-align: center;
    padding-left: 10px;
  }
  
  button.page-link {
    display: inline-block;
  }
  button.page-link {
      font-size: 20px;
      color: #29b3ed;
      font-weight: 500;
  }
  .offset{
    width: 500px !important;
    margin: 20px auto;  
  }

  th.asc{ color: rgb(42, 154, 63)}

  th.desc { color: rgb(118, 39, 39) }
  
  .alert {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  
   
      

      





    





    